BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
Standard: c++20
ColumnLimit: 80

AlignOperands: Align
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
FixNamespaceComments: true
IncludeBlocks: Preserve
SpaceBeforeCpp11BracedList: true
BinPackArguments: false
PackConstructorInitializers: CurrentLine
BinPackParameters: OnePerLine
