BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
Standard: c++20
ColumnLimit: 80

AlignOperands: Align
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Leave
FixNamespaceComments: true
IncludeBlocks: Preserve
SpaceBeforeCpp11BracedList: true
BinPackArguments: false
BinPackParameters: OnePerLine
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
PenaltyReturnTypeOnItsOwnLine: 1000
